<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Anime Database</title>
</head>
<body >
<div class="header">
  <input type="text" id="searchBar" placeholder="Search for anime..." oninput="filterItems()">
  
  <form method="POST" action="/logout"><button class="logoutBtn" onclick="logout()">Logout</button></form></div>
        <div class="panel" id="itemList">
        
    <% for (var i = 0; i < data.length; i++) { %>
    <div class="itemBox"  
         data-anime-name="<%= typeof data[i].animeName === 'string' ? data[i].animeName.toLowerCase() : '' %>"
         data-language="<%= typeof data[i].language === 'string' ? data[i].language.toLowerCase() : '' %>"
         data-original-run="<%= typeof data[i].originalRun === 'string' ? data[i].originalRun.toLowerCase() : '' %>"
         data-episodes="<%= typeof data[i].episodes === 'number' ? data[i].episodes.toString() : '' %>"
         data-studio="<%= typeof data[i].studio === 'string' ? data[i].studio.toLowerCase() : '' %>"
         data-director="<%= typeof data[i].director === 'string' ? data[i].director.toLowerCase() : '' %>"
         data-genre="<%= typeof data[i].genre === 'string' ? data[i].genre.toLowerCase() : '' %>"
         data-cartoonist="<%= typeof data[i].cartoonist === 'string' ? data[i].cartoonist.toLowerCase() : '' %>">
         
         <button onclick="showEditDetails('<%= data[i]._id %>','<%= data[i].animeName %>', 
             '<%= data[i].language %>', '<%= data[i].originalRun %>', 
             '<%= data[i].episodes %>', '<%= data[i].studio %>', 
             '<%= data[i].director %>', '<%= data[i].genre %>', 
             '<%= data[i].cartoonist %>')" class="itemBtn">
             <div class="row">
            <div class="itemcolumn"><strong class="itemText">Anime Name: <%= data[i].animeName %></strong></div>
            <div class="itemcolumn"><strong class="itemText">Language: <%= data[i].language %></strong></div>
            <div class="itemcolumn"><strong class="itemText">Original Run: <%= data[i].originalRun %></strong></div>
            <div class="itemcolumn"><strong class="itemText">Studio: <%= data[i].studio %></strong></div>
		</div>


        </button>
        <form method="POST" action="/database/delete">
            <input type="hidden" name="animeName" value="<%= data[i].animeName %>">
            <button type="submit" onclick="return confirm('Are you sure you want to delete <%= data[i].animeName %>?');" class="deleteBtn">Delete</button>
        </form>
    </div>
    <% } %>
</div>
    <br><br>

    <button class="createBtn" onclick="showCreatePanel()">Create</button>
    
        <div class="panel hidden" id="editPanel">
        <h1>Edit Anime</h1><br>
        <form id="editForm" method="POST" action="/database/update">
            <input type="hidden" id="editId" name="id">
            <div class="row">
            <div class="column">
            <strong>Anime Name:</strong> <input type="text" id="editName" name="animeName" class="text-line" ><br><br>
            <strong>Language:</strong> <input type="text" id="editLanguage" name="language" class="text-line" ><br><br>
            <strong>Original Run:</strong> <input type="text" id="editOriginalRun" name="originalRun" class="text-line"><br><br>
            <strong>Episodes:</strong> <input type="number" id="editEpisodes" name="episodes" class="text-line" >
            
            </div>
            <div class="column">
            <strong>Studio:</strong> <input type="text" id="editStudio" name="studio" class="text-line" ><br><br>
            <strong>Director:</strong> <input type="text" id="editDirector" name="director" class="text-line" ><br><br>
            <strong>Genre:</strong> <input type="text" id="editGenre" name="genre" class="text-line" ><br><br>
            <strong>Cartoonist:</strong> <input type="text" id="editCartoonist" name="cartoonist" class="text-line" >
            </div>
            </div>
            <button type="submit" class="saveBtn">Save</button>
            </form>
        <button onclick="cancelEdit()" class="cencelBtn">Cancel</button>
    </div>
    
    <div class="panel hidden" id="createPanel">
    <h1>Create New Anime</h1><br>
    <form method="POST" action="/database/add">
        <div class="row">
        <div class="column">
        <strong>Anime Name:</strong> <input type="text" id="createName" name="createName" class="text-line" ><br><br>
        <strong>Language:</strong> <input type="text" id="createLanguage" name="createLanguage" class="text-line" ><br><br>
        <strong>Original Run:</strong> <input type="text" id="createOriginalRun" name="createOriginalRun" class="text-line" ><br><br>
        <strong>Episodes:</strong> <input type="number" id="createEpisodes" name="createEpisodes" class="text-line" >
        </div>
        <div class="column">
        <strong>Studio:</strong> <input type="text" id="createStudio" name="createStudio" class="text-line" ><br><br>
        <strong>Director:</strong> <input type="text" id="createDirector" name="createDirector" class="text-line" ><br><br>
        <strong>Genre:</strong> <input type="text" id="createGenre" name="createGenre" class="text-line" ><br><br>
        <strong>Cartoonist:</strong> <input type="text" id="createCartoonist" name="createCartoonist" class="text-line" >
        </div>
        </div>  
        <button type="submit" class="saveBtn">Save</button>
    </form>
    <button onclick="cancelCreate()" class="cencelBtn">Cancel</button>
</div>
 <script>
        function showEditDetails(id,name, language, originalRun,episodes,studio,director,genre,cartoonist) {
            document.getElementById('editPanel').classList.remove('hidden');
            document.getElementById('createPanel').classList.add('hidden');
	    document.getElementById('editId').value = id;
            document.getElementById('editName').value = name;
            document.getElementById('editOriginalRun').value = originalRun;
            document.getElementById('editDirector').value = director;
            document.getElementById('editLanguage').value = language;
            document.getElementById('editEpisodes').value = episodes;
            document.getElementById('editStudio').value = studio;
            document.getElementById('editGenre').value = genre;
            document.getElementById('editCartoonist').value = cartoonist;
        }

        function deleteItem(name) {
            if (confirm(`Are you sure you want to delete ${name}?`)) {
                alert(`${name} has been deleted.`);
            }
        }

        function showCreatePanel() {
            document.getElementById('createPanel').classList.remove('hidden');
            document.getElementById('editPanel').classList.add('hidden');
        }

        function saveEdit() {
            alert('Changes saved!');
            document.getElementById('editPanel').classList.add('hidden')
            document.getElementById('createPanel').classList.add('hidden');;
        }

        function cancelEdit() {
            document.getElementById('editPanel').classList.add('hidden')
            document.getElementById('createPanel').classList.add('hidden');;
        }

        function saveCreate() {
            alert('New anime created!');
            document.getElementById('createPanel').classList.add('hidden');
            document.querySelector('#createPanel form').reset();
        }

        function cancelCreate() {
            document.getElementById('createPanel').classList.add('hidden');
            
        }
        
        function filterItems() {
    	const searchBar = document.getElementById('searchBar');
     	const filter = searchBar.value.toLowerCase();
     	const itemList = document.getElementById('itemList');
     	const items = itemList.getElementsByClassName('itemBox');

    	for (let i = 0; i < items.length; i++) {
        const animeName = items[i].getAttribute('data-anime-name');
        const language = items[i].getAttribute('data-language');
        const originalRun = items[i].getAttribute('data-original-run');
        const episodes = items[i].getAttribute('data-episodes');
        const studio = items[i].getAttribute('data-studio');
        const director = items[i].getAttribute('data-director');
        const genre = items[i].getAttribute('data-genre');
        const cartoonist = items[i].getAttribute('data-cartoonist');

        if (animeName.includes(filter) ||
            language.includes(filter) ||
            originalRun.includes(filter) ||
            episodes.includes(filter) ||
            studio.includes(filter) ||
            director.includes(filter) ||
            genre.includes(filter) ||
            cartoonist.includes(filter)) {
            items[i].style.display = '';
        } else {
            items[i].style.display = 'none';
        }
    }
}

function logout() {
            alert('You have been logged out.');
        }
    </script>
</body>
</html>

